@font-face {
    font-family: "Tengwarc";
    src: url(../assets/fonts/Tengwarc.woff)
  }
.corp {
    /* color:white;
    background-image: url("../assets/image_fond/lord-of-the-rings-gandalf.webp");
    background-size: cover; */
    display:flex;
    position:relative;
}
.lien_pages {
    display:flex;
    position: relative;
}
header {
    background-color: black;
}
footer {
    color: white;
    background-color: black;
    text-align: center;
}
#lien_interne {
    appearance: none;
    text-align: center;
    color: orange;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.050);
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
}
#lien_interne:hover {
    appearance: none;
    color: orange;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.100);
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
}
#lien_externe {
    color: orange;
}

#lien_externe:hover {
    color: orangered;
}
.sindaril{
    font-family: "Tengwarc";
    font-size: 50;
}
.gestion{
    background-color: #ffd481;
    padding-left: 20px;
    padding-right: 20px;
}
.document{
    background-color: #81d6ff;
    padding-left: 20px;
    padding-right: 20px;
}
.moodboard{
    background-color: #ffd481;
    padding-left: 20px;
    padding-right: 20px;
}
.equipe{
    background-color: #81d6ff;
    padding-left: 20px;
    padding-right: 20px;
}