@font-face {
    font-family: "Tengwarc";
    src: url(../assets/fonts/Tengwarc.woff)
  }
body {
    background-image: url("../assets/image_fond/121483_555c447c78c99ced5729c1864fd704c1.png.webp");
    background-size: cover;
  }
h1 {
    font-family: "Tengwarc";
    color: blue;
    text-align: center;
    font-size: 100px;
    text-shadow: 5px 5px 5px orange;
  }
  h2 {
    font-family: "Tengwarc";
    color: blue;
    text-align: left;
    font-size: 50px;
    text-shadow: 5px 5px 5px orange;
  }