// Required
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/functions";

$primary: #ffd481;
$primary-content: #815500;
$primary-dark: #ffc34e;
$primary-light: #ffe5b4;

$secondary: #81d6ff;
$secondary-content: #005781;
$secondary-dark: #4ec5ff;
$secondary-light: #b4e7ff;

$background: #f1f0ef;
$foreground: #fbfbfb;
$border: #e2e0dd;

$copy: #292723;
$copy-light: #6e685e;
$copy-lighter: #958f84;

$success: #81ff81;
$warning: #ffff81;
$error: #ff8181;
$success-content: #008100;
$warning-content: #818100;
$error-content: #810000;

@font-face {
    font-family: 'LOTR';
    src: url('../fonts/RINGM___.TTF');
}

.bannièrevidéo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-right: 0;
    border-left: 0;
    box-shadow: 0px 2px 5px #000;
    margin-bottom: 24px;
}

@media (min-width: 576px) {

    .bannièrevidéo {
        height: 250px;
    }

    .bannièrevidéo h1 {
        font-size: 27px !important;
    }
}

@media (min-width: 768px) {

    .bannièrevidéo {
        height: 300px;
    }

    .bannièrevidéo h1 {
        font-size: 37px !important;
    }
}

@media (min-width: 992px) {

    .bannièrevidéo {
        height: 350px;
    }

    .bannièrevidéo h1 {
        font-size: 48px !important;
    }

}

@media (min-width: 1200px) {

    .bannièrevidéo {
        height: 400px;
    }

    .bannièrevidéo h1 {
        font-size: 56px !important;
    }
}

@media (min-width: 1400px) {

    .bannièrevidéo {
        height: 450px;
    }

    .bannièrevidéo h1 {
        font-size: 64px !important;
    }

}

.bannièrevidéo h1 {

    position: relative;
    word-spacing: 12px;
    font-size: 24px;
    color: orange;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-weight: 700;
    // border: 1px solid #FFF;
    padding: 20px 24px;
    border-radius: 400px;

}

.bannièrevidéo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bannièrevidéo .filtrevidéo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, 0.503);
    z-index: -5;
}

body {
    background-color: black;
    background-image: url('../image_fond/lotr.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'LOTR';
}

p {
    margin-top: 20px;
    margin-bottom: 0;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px !important;
    font-family: 'LOTR';
}

h3 {
    border-bottom: 1px solid $secondary-dark;
    margin: 0 auto;
    padding-bottom: 5px;
    margin-bottom: 12px;
}

.col,
.col-12 {
    position: relative;
}

.content {
    background: #FCF5E5;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    // filter: url(#wavy2);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 2px;
}

.col-10 {
    padding-top: 10px;
}

.images {
    max-width: 700px;
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #000;
}


.texte {
    margin-bottom: 0;
}

.row {
    height: auto;
}

.box {
    border-radius: 15px;
    color: $secondary-content;
    background-color: $secondary;
    height: auto;
    padding-bottom: 12px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #000;
}

@media (pointer: fine) {
    .box {
        opacity: 0.9;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        margin: 20px;
        padding: 20px;

        position: relative;
        display: inline-block;

        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

        margin-left: auto;
        margin-right: auto;

    }

    .box:hover {
        cursor:pointer;
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        opacity: 1;
        background-color: #FF914D !important;
        color: rgb(131, 36, 1);
        box-shadow: 2px 2px 5px #000;

        h3 {
            border-bottom: 1px solid #975023;
        }
    }
}

header {
    z-index: 100;
    top: 0;
    position: sticky;
    box-shadow: 4px 0px 5px #000;
}

footer {
    margin-top: auto;
    text-align: center;
}

.mentions {
    background-color: #000;
    color: white;
    margin-bottom: 0px;
}