// Required
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/functions";

$primary: #ffd481;
$primary-content: #815500;
$primary-dark: #ffc34e;
$primary-light: #ffe5b4;

$secondary: #81d6ff;
$secondary-content: #005781;
$secondary-dark: #4ec5ff;
$secondary-light: #b4e7ff;

$background: #f1f0ef;
$foreground: #fbfbfb;
$border: #e2e0dd;

$copy: #292723;
$copy-light: #6e685e;
$copy-lighter: #958f84;

$success: #81ff81;
$warning: #ffff81;
$error: #ff8181;
$success-content: #008100;
$warning-content: #818100;
$error-content: #810000;

@font-face {
    //police seigneur des anneaux
    font-family: 'LOTR';
    src: url('../fonts/RINGM___.TTF');
}

.bannièrevidéo {
    z-index: -100;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 112px);
    border-right: 0;
    border-left: 0;
    box-shadow: 0px 2px 5px #000;
}

.bannièrevidéo h1 {
    //titre sur la vidéo

    position: relative;
    word-spacing: 12px;
    font-size: 56px;
    color: orange;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-weight: 700;
    // border: 1px solid #FFF;
    padding: 20px 24px;
    border-radius: 400px;

}

.bannièrevidéo video {
    //vidéo d'illustration
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bannièrevidéo .filtrevidéo {
    //filtre pour la vidéo
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, 0.503);
    z-index: -5;
}

@media (min-width: 576px) {
    //texte tesponsive pour le titre principal

    .bannièrevidéo h1 {
        font-size: 64px !important;
    }

    .navbar {
        font-size: 16px;
    }
}

@media (min-width: 768px) {

    .bannièrevidéo h1 {
        font-size: 72px !important;
    }
}

@media (min-width: 992px) {

    .bannièrevidéo h1 {
        font-size: 54px !important;
    }

}

@media (min-width: 1200px) {

    .bannièrevidéo h1 {
        font-size: 70px !important;
    }
}

@media (min-width: 1400px) {

    .bannièrevidéo h1 {
        font-size: 76px !important;
    }

}

.navbar {
    font-size: 16px;
}

.navbar-light {
    // éléments de la barre de navigation
    color: orange !important;
}

.bg-light {
    background-color: #000000 !important;
}

.navbar-brand {
    justify-content: flex-start;
    padding-left: 1.5rem;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: orange;
}

.nav-item {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.nav-link {
    color: #FFF !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar ul li:not(:last-child)::after {
    content: "";
    border: 1px solid #c2c2c2;
    border-width: 1px 1px 0 0;
    position: absolute;
    right: -10px;
    top: 0;
    height: 100%;
}

ul li {
    display: inline-block;
    padding: 0 7px;
    position: relative;
}


.ancre {
    //pour que les liens cliquables emmène la ou ils sont sensés, sans prendre en compte la barre de navigation
    padding: 1px;
    position: relative;
    margin-top: -50px;
}

.col,
.col-12 {
    position: relative;
}

.container {
    //parent de .content pour que le style ne s'applique pas au texte
    position: relative;
    width: 80%;
}

.content {
    //fond stylysé effet parchemin
    background: #FCF5E5;
    position: absolute;
    margin-top: -40px;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    filter: url(#wavy2);
    border-radius: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.col-10 {
    padding-top: 10px;
}

.images {
    max-width: 700px;
    width: 90%;
    height: auto;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #000;
}

.texte {
    margin-bottom: 0;
}

.row {
    height: auto;
}

.technique {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.technique ul li {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.box {
    //boites de contenu pour notre équipe
    border-radius: 15px;
    color: $secondary-content;
    background-color: $secondary;
    height: auto;
    padding-bottom: 12px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #000;
}

@media (pointer: fine) {

    // pour que l'animation ne se fasse pas sur mobile
    .box {
        opacity: 0.9;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        margin: 20px;
        padding: 20px;

        position: relative;
        display: inline-block;

        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

        margin-left: auto;
        margin-right: auto;

    }

    .box:hover {
        cursor: pointer;
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        opacity: 1;
        background-color: #FF914D !important;
        color: rgb(131, 36, 1);
        box-shadow: 2px 2px 5px #000;

        h3 {
            border-bottom: 1px solid #975023;
        }
    }
}

//style pour les balises classiques

svg {
    display: none;
}

header {
    z-index: 100;
    top: 0;
    position: sticky;
    box-shadow: 4px 0px 5px #000;
}

footer {
    margin-top: auto;
    z-index: 300;
    text-align: center;
}

body {
    background-color: black;
    background-image: url('../image_fond/lotr.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'LOTR';
}

.texteprincipal {
    text-align: justify;
    margin: 0 20px;
    margin-bottom: 50px;
    padding: 0 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.emphase {
    font-weight: bold;
    color: #005781;
}

a {
    text-decoration: none;
    color: #005781;
}

a:hover {
    color: rgb(131, 36, 1);
}

p {
    margin-top: 20px;
    margin-bottom: 0px;
}

h2 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 30px !important;
    font-family: 'LOTR';
}

.titredeuxbordure {
    padding-top: 25px;
    border-top: 1px solid rgb(89, 89, 89);
}

h3 {
    border-bottom: 1px solid $secondary-dark;
    margin: 0 auto;
    padding-bottom: 5px;
    margin-bottom: 16px;
}

.mentions {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #000;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-top: -20px;
}